In [1]:
import os
import numpy as np
import pandas as pd
import joblib
import matplotlib.pyplot as plt

In [2]:
pd.set_option('max_rows', 20)

plt.style.use('default')
plt.rcParams['figure.figsize'] = (12, 3)
plt.rcParams['font.family'] = 'sans-serif'

In [3]:
# 指定檔案位置，包含完整路徑以及檔案名稱
# os.curdir: 回傳目前目錄的路徑
# 若無法在個人電腦上以 Anaconda 開啟 Notebook，請用Google Colab開啟，並將下兩行程式的註解消除，再將 turbofan.csv 和 turbofan_rul.csv資料上傳 
# Turbofan_FILEPATH = os.path.join(os.curdir, 'turbofan.csv')
# Turbofan_RUL_FILEPATH = os.path.join(os.curdir, 'turbofan_rul.csv')
Turbofan_FILEPATH = os.path.join(os.curdir, 'data', 'turbofan.csv')
Turbofan_RUL_FILEPATH = os.path.join(os.curdir, 'data', 'turbofan_rul.csv')

# 檢視檔案位置
print(Turbofan_FILEPATH)

# 讀取 CSV 檔案，並將其指定為名稱是 df (DataFrame) 的物件
df = pd.read_csv(filepath_or_buffer=Turbofan_FILEPATH)
df_bak = df.copy()

df_rul = pd.read_csv(filepath_or_buffer=Turbofan_RUL_FILEPATH)
df_rul_bak = df_rul.copy()

./data/turbofan.csv

## `to_csv()`：儲存 DataFrame 或 Series 為csv格式

* 常用 Parameters：
    * `path_or_buf`：儲存路徑
    * `index`：是否要儲存 row index
        * `True`：儲存
        * `False`：不儲存
* 參考文件：
    * [pandas.DataFrame.to_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html#pandas-dataframe-to-csv)
    * [pandas.Series.to_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.to_csv.html#pandas-series-to-csv)
    * [10 MInutes to Pandas | Getting data in/out | csv](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html#csv)

In [6]:
# 若無法在個人電腦上以 Anaconda 開啟 Notebook，請用Google Colab開啟，並將下兩行程式的註解消除，再將 turbofan_test.csv 儲存
# df.to_csv(os.path.join(os.curdir, 'turbofan_test.csv'), index=False)
df.to_csv(os.path.join(os.curdir, 'data', 'turbofan_test_2.csv'), index=True)

In [7]:
df.to_csv('turbofan_test_3.csv')

## `joblib.dump`：保有 python物件 格式，將其儲存成一個檔案

* 常用 Parameters：
    * `value`：任何python物件
    * `filename`：檔案名稱
* 參考文件：
    * [joblib.dump](https://joblib.readthedocs.io/en/latest/generated/joblib.dump.html)

In [9]:
# 若無法在個人電腦上以 Anaconda 開啟 Notebook，請用Google Colab開啟，並將下兩行程式的註解消除，再將 turbofan_test.joblib 儲存
# joblib.dump(df, os.path.join(os.curdir, 'turbofan_test.joblib'))
joblib.dump(df, os.path.join(os.curdir, 'data', 'turbofan_test.joblib'))

['./data/turbofan_test.joblib']

In [8]:
joblib.dump(df, "turbofan_test_2.joblib")

['turbofan_test_2.joblib']

## `joblib.load`：讀取經由 `joblib.dump` 所儲存的 python物件

* 常用 Parameters：
    * `filename`：檔案名稱
* 參考文件：
    * [joblib.load](https://joblib.readthedocs.io/en/latest/generated/joblib.load.html)

In [10]:
# 若無法在個人電腦上以 Anaconda 開啟 Notebook，請用Google Colab開啟，並將下兩行程式的註解消除，再讀取 turbofan_test.joblib 
# df = joblib.load(os.path.join(os.curdir, 'turbofan_test.joblib'))
df = joblib.load(os.path.join(os.curdir, 'data', 'turbofan_test.joblib'))

In [11]:
df

,unit_number,time_in_cycles,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_18,sensor_19,sensor_20,sensor_21,sensor_22,sensor_23,sensor_24,sensor_25,sensor_26,sensor_27
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,2388,100.0,39.06,23.4190,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388,100.0,39.00,23.4236,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,2388,100.0,38.95,23.3442,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,2388,100.0,38.88,23.3739,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,2388,100.0,38.90,23.4044,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,2388,100.0,38.49,22.9735,NaN,NaN,NaN,NaN,NaN,NaN
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,2388,100.0,38.30,23.1594,NaN,NaN,NaN,NaN,NaN,NaN
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,2388,100.0,38.44,22.9333,NaN,NaN,NaN,NaN,NaN,NaN
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,2388,100.0,38.29,23.0640,NaN,NaN,NaN,NaN,NaN,NaN
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,2388,100.0,38.37,23.0522,NaN,NaN,NaN,NaN,NaN,NaN