In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import joblib
from IPython.display import display

In [2]:
pd.set_option('max_rows', 20)

plt.style.use('default')
plt.rcParams['figure.figsize'] = (12, 3)
plt.rcParams['font.family'] = 'sans-serif'

In [3]:
df = pd.read_csv('titanic_train.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [17]:
df["Age_range"] = pd.cut(df["Age"], [20, 40, 60, 100])
output = df.groupby(["Survived", "Sex", "Age_range"])["PassengerId"].count()

# Chapter 8 - Saving and Loading

## Q1. 儲存物件為 CSV

In [18]:
# 將 output 物件儲存成csv檔

## Q2. 儲存物件並保留 pandas 物件格式

In [21]:
# 將 output 物件儲存並保留pandas物件格式

['chapter8_Q2.joblib']

## Q3. 讀取 Q2 所儲存的檔案