In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

In [ ]:
pd.set_option('max_rows', 20)

plt.style.use('default')
plt.rcParams['figure.figsize'] = (12, 3)
plt.rcParams['font.family'] = 'sans-serif'

In [ ]:
df = pd.read_csv('titanic_train.csv')
df_bak = df.copy()

# Chapter 6 - Modifying DataFrame

## Q1

請將「性別 (`Sex`)」資料中的 `male` 值取代為 `0`，`female` 值取代為 `1`，並取出前五筆資料確認結果是否正確：

## Q2

請將 row 中出現遺漏值的 row 給刪除，並重設 DataFrame Index Label：

In [ ]:
# 還原資料
df = df_bak.copy()

## Q3

將「船艙代號 (`Cabin`)」資料的遺漏值補入數值 `0`，並檢視此欄位不重複的所有資料：

In [ ]:
# 還原資料
df = df_bak.copy()

## Q4

請將欄位名稱統一轉換為英文小寫：

In [ ]:
# 還原資料
df = df_bak.copy()

## Q5

請觀察相同的「性別 (`Sex`)」與「存活與否 (`Survived`)」條件的乘客資料中，「年齡」(`Age`)資料的敘述性統計分析結果：

In [ ]:
# 還原資料
df = df_bak.copy()