In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

In [2]:
pd.set_option('max_rows', 20)

plt.style.use('default')
plt.rcParams['figure.figsize'] = (12, 3)
plt.rcParams['font.family'] = 'sans-serif'

In [3]:
df = pd.read_csv('titanic_train.csv')

# Chapter 5 - Calculating

## Q1

請參考下表，將「應調整欄位」的「原始 dtype」轉換成「目標 dtype」，並回傳資料每一個欄位的 Data type ，以確認是否轉換成功：

應調整欄位 | 原始dtype | 目標dtype
--|--|--
`PassengerId` | `int64` | `object`
`Survived` | `int64` | `object`
`Pclass` | `int64` | `object`
`SibSp` | `int64` | `object`
`Parch` | `int64` | `object`

In [4]:
df['PassengerId'] = df['PassengerId'].astype(str)
df['Survived'] = df['Survived'].astype(str)
df['Pclass'] = df['Pclass'].astype(str)
df['SibSp'] = df['SibSp'].astype(str)
df['Parch'] = df['Parch'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    object
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    object
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    object
 7   Parch        891 non-null    object
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), object(10)
memory usage: 83.7+ KB

## Q2

請計算「票價 (`Fare`)」資料平均值，並四捨五入到小數點第二位：

In [5]:
# 解法一： 如果 type(df['Fare'].mean()) 是 numpy float64 則用以下寫法
df['Fare'].mean().round(2)

32.2

In [6]:
# 解法二： 如果 type(df['Fare'].mean()) 是 numpy float 則用以下寫法
# 這個情況在作業系統為 Windows 時很容易遇到
np.float64(df['Fare'].mean()).round(2)

32.2

### Q3

請計算「年齡 (`Age`)」欄位的第 `25`, `50`, `75` 百分位數：

In [7]:
df['Age'].quantile([0.25, 0.5, 0.75])

0.25    20.125
0.50    28.000
0.75    38.000
Name: Age, dtype: float64